.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-logo-paused {
  animation-play-state: paused;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

#progressbar {
  width:40%;
  margin: 0 auto;
  background-color: #eee;
  /*border-radius: 13px;  (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
   background-color: #bbb;
   /*width: 40%;  Adjust with JavaScript */
   height: 20px;
   padding-left: 0px !important;
   padding-right: 0px !important;
   /*border-radius: 10px;*/
}

body {
  font-family: sans-serif;
  font-size: small;
}

.alternate tr:nth-child(odd) {
  background-color: #eee;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

div, td, th {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;

}
